<!-- Default form login -->
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
     
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button block="true" class="btn btn-info my-4" type="submit">Sign in</button>
    <a routerLink="/sign-up" class="ml-2 btn btn-info my-4" routerLinkActive="active">sign up </a>
  
    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>
  
   
  </form>
  <!-- Default form login -->
</div>
</div>
</div>